@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  
}

:root {

}

.dark {

}

@layer base {
  * {
    /* @apply border-border outline-ring/50; */
  }
  body {
    /* @apply bg-background text-foreground; */
  }
}
